<div class="background">
    <nav class="navbar navbar-expand-lg main-navbar">
        <a href="#scroll">
            <img src="https://i.imgur.com/nc384TD.png" alt="Logo Recomece" width="95px" height="95px"
                class="img-fluid mr-auto"></a>
        <form class="form-inline text-aling: right">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                </ul>
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group  mx-2 d-flex justify-content-end">
                <a class="titulo3" href="/blogPessoal/src/app/entrar/entrar.component.html">Pagina Inicial</a>
            </div>
            <div class="form-group mx-2">
                <a class="titulo3" href="/blogPessoal/src/app/entrar/entrar.component.html">Carreiras</a>
            </div>

        </form>
    </nav>
    <!--titulo-->
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <img src="https://svgsilh.com/svg/41891.svg" alt="Logo Recomece"
                class="img-fluid d-flex justify-content-center" width="8%" style="float:left">
            <h1 class="text-center mt-5 mb-3 titulo">Dicas para Recomeçar</h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="text-center mt-5 mb-5 titulo">BootCamp Misto ou Sazional para Mulheres</h2>
        </div>
        <div class="row justify-content-center mr-auto">
            <div class="col-md-6 mr-auto">
                <h1 class="text-center mt-5 titulo">Generation Brasil</h1>
                <p class="textOne text-center mt-5 mb-5 ml-5">A Generation Brasil treina você nas habilidades mais relevantes
                    para os empregadores, conectando você com o seu futuro.</p>
                <a class="btn btn-info" href="https://brazil.generation.org/" role="button" target="_blank"> Saiba Mais...</a>
            </div>
            <div class="col-md-6 mr-auto">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kdGWKGM7yoA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-6 mr-auto">
                <h1 class="text-center mt-5 titulo">Reprograma</h1>
                <p class="textOne text-center mt-5 mb-5">A reprograma é uma iniciativa de impacto social que foca em
                    ensinar programação para mulheres cis e trans que não têm recursos e/ou oportunidades para aprender
                    a programar.</p>
                <a class="btn btn-info" href="https://reprograma.com.br/" role="button" target="_blank"> Saiba Mais...</a>
            </div>
            <div class="col-md-6 mr-auto">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VA4XAwznE9U" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <!--/Videos-->

            <div class="row mt-5 mb-5">

                <h1 class="justify-content-center text-center titulo2">Comunidades</h1>
            </div>

            <div class="col-md-12">

                <div class="row justify-content-center">
                    <h2 class="text-center  mb-5 titulo">Tecnologia para Mulheres</h2>

                </div>
                <div class="row">
                    <div class="col-md-4">
                     <div class="card ml-5 mr-5 card-zoom align-items-center" style="width: 18rem;">
                        <img src="https://i.imgur.com/f2FGuI4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PrograMaria</h5>
                          <p class="card-text">Emponderar mulheres através da tecnologia,
                            diminuindo o gap de gênero no mercado de trabalho.</p>
                          <a href="https://www.programaria.org/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                      </div>
</div>
                      <div class="card ml-5 mr-5 card-zoom" style="width: 18rem;">
                        <img src="https://i.imgur.com/3me2Xmd.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">TheFemTech</h5>
                          <p class="card-text">Grupo de mulheres com objetivo de empoderar,
                            informar e promover a equidade de gênero na tecnologia.</p>
                          <a href="https://www.instagram.com/thefemtech/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                      </div>

                      <div class="card ml-5 mr-5 card-zoom" style="width: 18rem;">
                        <img src="https://i.imgur.com/UCrc02p.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Elas Programam</h5>
                          <p class="card-text">Elas Programam foi criado para incluir mais
                            mulheres no mercado de tecnologia, promovendo diversidade e equidade de gênero nas
                            organizações.</p>
                          <a href="https://dev.to/elasprogramam" class="btn btn-primary">Saiba Mais</a>
                        </div>
                      </div>
                </div>

                <div class="row justify-content-center">
                    <h2 class="text-center mt-5 titulo">Ajuda para Mulheres</h2>

                </div>
                <div class="row justify-content-center bg-light mb-5">
                    <h3 class="text-center textOne">Recomeçar é dar uma nova chance a si mesmo, é renovar as esperanças
                        na vida e o mais importante: acreditar em você de novo. Não importa onde você parou, em que
                        momento da vida você cansou, o que importa é que sempre é possível e necessário recomeçar. Se o
                        fim da sua história não te agradou, não hesite em recomeçar.</h3>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-columns ">
                            <div class="card card-zoom border-dark  text-dark ml-5 mr-5">
                                <img class="card-img-top" src="https://i.imgur.com/AGGL9rl.png"
                                    alt="Logo Programaria">
                                <div class="card-body">
                                    <h5 class="card-title text-center titulo1">Ong Nova Mulher</h5>
                                    <p class="card-text text-center textOne">Criar oportunidades, estimulando e
                                        fortalecendo as mulheres para que elas possam desenvolver suas potencialidades e
                                        ocupem o seu lugar no mundo, promovendo a igualdade de gênero, raça e cidadania
                                        em nossa sociedade.</p>
                                    <a class="btn btn-info" href="https://www.ongnovamulher.org/" role="button" target="_blank">Saiba Mais...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-zoom border-dark ml-5 mr-5">
                            <img class="card-img-top" src="https://i.imgur.com/51wR1CN.png"
                                alt="Logo sosmulher">
                            <div class="card-body">
                                <h5 class="card-title text-center titulo1 mt-5">SOS Mulher</h5>
                                <p class="card-text text-center textOne">O SOS MULHER é focado no apoio à mulher em
                                    situação de vulnerabilidade e tem como base três pilares: segurança, saúde e
                                    independência financeira.</p>
                                <a class="btn btn-info" href="https://www.sosmulher.sp.gov.br/" role="button" target="_blank">Saiba Mais...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-zoom border-dark ml-5 mr-5 text-dark">
                            <img class="card-img-top" src="https://i.imgur.com/PN2O90M.png"
                                alt="Logo Programaria">
                            <div class="card-body">
                                <h5 class="card-title text-center titulo1 mt-5">Associação Fala Mulher</h5>
                                <p class="card-text text-center textOne">Atuar na defesa e garantia dos direitos da
                                    mulher, através de ações sócio assistenciais.</p>
                                <a class="btn btn-info" href="https://associacaofalamulher.wixsite.com/associacaofalamulher"
                                    role="button" target="_blank">Saiba Mais...</a>
                            </div>
                        </div>
                    </div>

                </div>
<!--Fim Comunidades-->
<div class="row justify-content-center">
    <h2 class="text-center mt-5 titulo mb-5">RECOMECE em um novo emprego</h2>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-zoom border-dark mb-3 ml-5 text-dark">
                       <div class="card-body">
                <h5 class="card-title text-center titulo1">Analista De Orçamentos de Obras Pleno</h5>
                <p class="card-text text-center textOne">Nível de experiência: Junior; <br>
                    Setor: Tecnologia da informação e serviços; <br> 
                    Recrutamento e seleção: Recursos humanos; <br>
                    Tipo de emprego: Tempo integral; <br>
                    Funções de trabalho: Financeiro e Vendas.</p>
                <a class="btn btn-info"
                    role="button" target="_blank">Candidatar-se</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card card-zoom border-dark mb-3 ml-3 text-dark">
                       <div class="card-body">
                <h5 class="card-title text-center titulo1 mb-5">Desenvolvedora Java</h5>
                <p class="card-text text-center textOne">Nível de experiência: Não Aplicável; <br>
                    Setor: Tecnologia da informação e serviços; <br> 
                    Tipo de emprego: Tempo integral; <br>
                    Funções de trabalho: Engenharia e Tecnologia da Informação.</p>
                <a class="btn btn-info"
                    role="button" target="_blank">Candidatar-se</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-zoom border-dark mb-3 mr-2 text-dark">
                       <div class="card-body">
                <h5 class="card-title text-center titulo1 mb-3">Coordenador de Crédito Imobiliário</h5>
                <p class="card-text text-center textOne">Nível de experiência: Não Aplicável; <br>
                    Setor: Imobiliário; <br> 
                    Tipo de emprego: Tempo integral; <br>
                    Funções de trabalho: Contabilidade, Auditoria e Financeiro.</p>
                <a class="btn btn-info"
                    role="button" target="_blank">Candidatar-se</a>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-zoom border-dark mb-3 ml-5 text-dark">
                           <div class="card-body">
                    <h5 class="card-title text-center titulo1">Manicure</h5>
                    <p class="card-text text-center textOne">Nível de experiência: Não Aplicável; <br>
                        Setor: Cosmética; <br> 
                        Tipo de emprego: Tempo integral; <br>
                        Funções de trabalho: Design de Unhas.</p>
                    <a class="btn btn-info"
                        role="button" target="_blank">Candidatar-se</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-zoom border-dark mb-3 ml-3 text-dark">
                           <div class="card-body">
                    <h5 class="card-title text-center titulo1">Faxineira</h5>
                    <p class="card-text text-center textOne">Nível de experiência: Não Aplicável; <br>
                        Setor: Serviços; <br> 
                        Tipo de emprego: Tempo integral; <br>
                        Funções de trabalho: Gerenciamento.</p>
                    <a class="btn btn-info"
                        role="button" target="_blank">Candidatar-se</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-zoom border-dark mb-3 mr-3 text-dark">
                           <div class="card-body">
                    <h5 class="card-title text-center titulo1">Babá</h5>
                    <p class="card-text text-center textOne">Nível de experiência: Assistente; <br>
                        Setor: Admnistração de Serviços; <br> 
                        Tipo de emprego: Tempo integral; <br>
                        Funções de trabalho: Outros.</p>
                    <a class="btn btn-info"
                        role="button" target="_blank">Candidatar-se</a>
                </div>
            </div>
        </div>

    </div>

                <!--rodape-inicio-->
                <footer class="footer-copyright d-flex justify-content-center rodape">
                    <span> © 2021 Copyright: Recomece Group. Todos os direitos reservados. </span>
                </footer>
            </div>
        </div>
    </div>

    <!--rodape-fim-->