<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
     <img src="https://m.unimed.coop.br/documents/20182/7905343/Casal+de+idosos/7fa80cf8-9bbd-4f84-82b2-67f90a86c3fb?t=1561137854905" alt="Foto do Usuario" width="50px" height="500px" class="img-fluid rounded-circle" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
        </li>
        <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-white fs-16">Nome do Usuário</p> 
            </li>
            <li class="nav-item pl-3">
              <a href="">
              <p class="text-white fs-1 m-0"> <i class="fa fa-sign-in" aria-hidden="true">

              </i>
            </p> 
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16">Sair</a> 
          </li>
      </ul>
      
    </div>
  </nav>