#img-bg{
    background-image: url('https://i.pinimg.com/originals/39/ed/14/39ed143b89c96fa59d830d890ed2da31.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}